.wrapper {
  width: 1300px;
  margin-left: auto;
  margin-right: auto;
}
.header {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.title {
  color: var(--text-color);
  padding: 20px;
}
.info-address {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0;
}
.border {
  border-bottom: 1px solid #ccc;
}
.info-delivery {
  margin-top: 40px;
}

.address-content {
  display: flex;
  align-items: center;
}
.user-name {
  font-size: 16px;
}
.user-phone {
  font-size: 16px;
}
.address {
  font-size: 16px;
  margin-right: 20px;
}
//action of comp address and Delivery
.title-discount {
  font-size: 18px;
  color: var(--text-color);
  width: 100px;
  font-weight: 600;
}
.box-discount {
  display: flex;
  align-items: center;
}
.btn-action {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.title-price {
  font-size: 30px;
  color: var(--text-color);
}
.content {
  font-size: 20px;
  color: var(--text-color);
  font-weight: 700;
  text-align: center;
}
