.wrapper {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 100px;
  height: 36px;
  font-size: var(--font-size-primary);
  padding: 9px var(--font-size-primary);
  font-weight: 700;
  background-color: var(--white);
  outline: none;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  + .wrapper {
    margin-left: 8px;
  }
}
//Button Classname
.primary {
  background-color: var(--primary);
  color: var(--white) !important;
}
.select {
  background-color: var(--text-color);
  color: white;
  font-size: 20px;
  font-weight: 500;
  &:hover {
    border: 1px solid var(--text-color);
    background-color: var(--white);
    color: var(--text-color);
  }
}
.pointgift {
  background-color: var(--text-color);
  color: white;
  font-size: 20px;
  font-weight: 500;
  &:hover {
    border: 1px solid var(--text-color);
    background-color: var(--white);
    color: var(--text-color);
  }
}
.checkout {
  margin-top: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 4px;
  font-size: 20px;
  background-color: var(--secondary);
  color: var(--white);
  font-weight: 700;
  width: 180px;
  height: 45px;
  font-family: var(--font-primary);
  &:active {
    background-color: var(--primary);
  }
}
.discount {
  margin-top: 15px;
  background-color: var(--secondary);
  color: var(--white);
  font-family: var(--font-primary);
  &:active {
    background-color: var(--primary);
  }
}
.payment {
  width: 120px;
  height: 45px;
  font-size: 20px;
  margin-top: 20px;
  font-weight: 700;
  border-radius: 4px;
  font-family: var(--font-primary);
  color: var(--white);
  background-color: var(--secondary);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  &:active {
    background-color: var(--primary);
  }
}
