.wrapper {
  width: 1300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.no-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
.img-cart {
  width: 400px;
  height: 300px;
}
.header {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.ordersteps {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  height: 20px;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--background-primary);
  width: 1300px;
  overflow-y: hidden scroll;
}
.title {
  font-size: 30px;
  color: var(--text-color);
}
.content {
  font-size: 20px;
  color: var(--text-color);
  font-weight: 700;
}
.discount,
.total-price,
.btn-action {
  margin-top: 15px;
  margin-right: 40px;
  width: 300px;
  text-align: center;
}
.discount-item {
  margin-right: 22px;
}
.discount {
  display: flex;
  align-items: center;
}
// --- Modal .discount
.form-discount {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.title-voucher {
  font-size: 18px;
}
.input-voucher {
  height: 35px;
  width: 200px;
  margin: 0 12px;
  padding: 0 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  &:focus {
    border: 1px solid var(--black);
  }
}
.list-discount {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}
.desc-discount {
  font-size: 18px;
  .desc-item {
    font-size: 17px !important;
  }
}
.expiry {
  color: #777;
}
.img-discount {
  width: 100px;
  height: 100px;
}
