.wrapper {
  width: 1300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.ordersteps {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  height: 20px;
}
.btn-action{
  text-align: right;
  margin-right: 20px;
}