.card-item {
  width: fit-content;
  height: 75px;
  position: relative;
  border: 3px solid rgba(68, 179, 223, 0.3);
  margin-right: 30px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 8px;
}
.active-card {
  border: 3px solid var(--secondary);
}
.img-card {
  width: 100px;
  height: 70px;
  border-radius: 8px;
}
.check {
  position: absolute;
  top: -9px;
  right: -9px;
  color: var(--white);
  border-radius: 50%;
}
.icon-check {
  width: 20px;
  height: 20px;
}
