.wrapper {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  background-color: var(--white);
  border-radius: 12px;
}
.btn-action {
  text-align: right;
  padding: 20px;
}
//Reason Cancel
.reason-cancel {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ccc;
  padding-bottom: 12px;
}
.reason {
  font-size: 18px;
  font-family: var(--font-primary);
  margin-left: 12px;
}
.form-reason {
  display: flex;
  margin-bottom: 8px;
}
