.form-group {
  text-align: center;
}
.form-item {
  margin-top: 10px;
}
.input-value {
  display: block;
  text-align: center;
  margin-top: 12px;
  width: 380px;
}
.btn-action {
  margin-top: 18px;
  text-align: center;
}
