.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  padding: 10px 24px;
  align-items: center;
  justify-content: space-between;
}
.content {
  margin-top: 30px;
  // overflow-y: auto;
  overflow-y: overlay;
  max-height: 380px;
}
.box-info-order {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 12px 0;
  margin-bottom: 8px;
  border: 1px solid #ccc;
}
.box-info-order.isShowButtonReview {
  display: flex;
  justify-content: left;
}
.status {
  color: #e4a166;
  font-size: 25px;
  margin-bottom: 20px;
}
.title {
  color: var(--text-color);
  font-size: 30px;
  margin-bottom: 20px;
}
.box-product {
  display: flex;
  text-align: left;
}
.img-product {
  width: 100px;
  height: 90px;
}
.name-product {
  font-size: 18px;
  font-weight: 700;
  color: var(--text-color);
}
.quantity-product {
  font-size: 16px;
  color: violet;
}
.price-product {
  font-size: 16px;
  color: orange;
}
.info-product {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  span {
    margin-top: 6px;
  }
}
.total-price {
  margin-top: 15px;
  text-align: right;
  font-size: 25px;
  font-weight: 700;
  color: var(--text-color);
}
.show-action {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.reason-cancel {
  font-size: 20px;
  font-weight: 600;
  color: red;
}
