.wrapper {
  width: fit-content;
  height: 100%;
  text-align: center;
  margin-right: 12px;
  cursor: pointer;
  text-decoration: none;
  display: block;
  transition: 0.2s;
  &:hover {
    transform: translateY(-5px);
  }
}

.header {
  width: 186px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.product-image {
  display: block;
  max-width: 100%;
  height: 200px;
}
.container {
  margin: 8px 8px;
  font-size: var(--font-size-primary);
}
.product-name {
  width: 180px;
  display: block;
  font-size: var(--font-size-primary);
  color: var(--text-color);
  text-align: center;
  padding-bottom: 10px;
}
.product-info {
  padding: 14px 0;
}
.product-price {
  font-size: var(--font-size-primary);
}
.price-discount {
  color: #888;
  text-decoration: line-through;
  margin-right: 8px;
}
.price-new {
  color: #103a71;
  font-weight: 600;
}
.hidden {
  display: none !important;
}
