.wrapper {
  width: 1300px;
  cursor: pointer;
  border-radius: 12px;
  margin-left: auto;
  margin-right: auto;
}
.slider-item img {
  width: 374px;
  height: 210px;
  border-radius: 12px;
  margin: auto;
}

